# Data types

# 1) List:

In [1]:
lst = ['JAVA' , 'C' , 'C++' , 'UNIX']
lst

['JAVA', 'C', 'C++', 'UNIX']

In [2]:
lst.append('PYTHON')
lst

['JAVA', 'C', 'C++', 'UNIX', 'PYTHON']

In [4]:
lst.insert(0 , 'PYTHON')
lst

['PYTHON', 'JAVA', 'C', 'C++', 'UNIX', 'PYTHON']

In [5]:
lst.count('PYTHON')

2

In [6]:
lst.pop()

'PYTHON'

In [7]:
lst

['PYTHON', 'JAVA', 'C', 'C++', 'UNIX']

In [9]:
lst.sort()
lst

['C', 'C++', 'JAVA', 'PYTHON', 'UNIX']

In [10]:
lst.remove('C')
lst

['C++', 'JAVA', 'PYTHON', 'UNIX']

# 2) Dictonary:

In [11]:
dct = { "Name" : "Kishore" , "Age" : "10" , "Phone" : "1234" }

In [12]:
dct

{'Name': 'Kishore', 'Age': '10', 'Phone': '1234'}

In [14]:
dct["City"] = "Bangalore"

In [15]:
dct

{'Name': 'Kishore', 'Age': '10', 'Phone': '1234', 'City': 'Bangalore'}

In [16]:
dct.get("Name")

'Kishore'

In [17]:
dct.items()

dict_items([('Name', 'Kishore'), ('Age', '10'), ('Phone', '1234'), ('City', 'Bangalore')])

In [24]:
dct.popitem()

('City', 'Bangalore')

In [25]:
dct1 = dct.copy()

In [26]:
dct1

{'Name': 'Kishore', 'Age': '10', 'Phone': '1234'}

In [37]:
dct.update({"Phone" : "112233"})

In [38]:
dct

{'Name': 'Kishore', 'Age': '10', 'Phone': '112233'}

# 3) Sets:

In [39]:
s = {'a' , 'b' , 'c' , 'd' , '1' , '2' , '3'}
s

{'1', '2', '3', 'a', 'b', 'c', 'd'}

In [40]:
s.add(4)

In [41]:
s

{'1', '2', '3', 4, 'a', 'b', 'c', 'd'}

In [42]:
len(s)

8

In [43]:
s.remove('d')

In [44]:
s

{'1', '2', '3', 4, 'a', 'b', 'c'}

In [45]:
s.discard('a')
s

{'1', '2', '3', 4, 'b', 'c'}

In [46]:
s.pop()

'c'

In [47]:
s1 = s.copy()

In [48]:
s3 = s.union(s1)
s3

{'1', '2', '3', 4, 'b'}

In [49]:
s1.pop()
s1.pop()

4

In [50]:
s3

{'1', '2', '3', 4, 'b'}

In [51]:
s3.clear()

In [52]:
s3

set()

In [70]:
type(s)

set

In [59]:
s

{'1', '2', '3', 4, 'b'}

In [65]:
s1 = {'1', '2', 'kishore'}

In [66]:
s1 = s1.update(s)

In [68]:
s1

# 4) Tuple:

In [71]:
tup = ('JAVA' , 'C' , 'C++' , 'UNIX')

In [72]:
tup

('JAVA', 'C', 'C++', 'UNIX')

In [75]:
tup.count('C')

1

In [76]:
tup.index('UNIX')

3

# 5) Strings:

In [77]:
a = "hello world"

In [78]:
a

'hello world'

In [83]:
a.capitalize()

'Hello world'

In [87]:
a[1]

'e'

In [91]:
a[1:5]

'ello'

In [92]:
len(a)

11

In [93]:
b = " Hi      this       is kishore      "
b

' Hi      this       is kishore      '

In [94]:
b.strip()

'Hi      this       is kishore'

In [95]:
b.replace("      " , " ")

' Hi this  is kishore '

In [96]:
'kishore' in b

True

In [100]:
first_name = "kishore"
last_name = "kumar"

full_name = first_name + last_name
full_name

'kishorekumar'

In [101]:
print(first_name + " " +last_name)

kishore kumar

In [105]:
a.index("world")

6

In [113]:
c = "PYTHON"
a.join(c)

'Phello worldYhello worldThello worldHhello worldOhello worldN'

In [114]:
c.islower()

False